
  body{

text-shadow: 12px 13px 14px #000;
color: #000;
margin: 20px;
  }
  p{
    color: darkgreen;
    text-shadow: 12px 13px 14px #000000;
    font-size: 25px;
  }
  li{
    color: rgb(0, 0, 0);
    text-shadow: 1px 13px 14px #000000;
    font-size: 20px;
  }
  h2{
    color: rgb(0, 0, 0);
    text-shadow: 1px 13px 14px #000000;
    font-size: 50px;
  }
